{% load static %}

<html>
{% load pwa %}

<head>
    {% progressive_web_app_meta %}

    <title>
        Paint Me A Portrait
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'portrait/css/styles.css' %}">
</head>

<body>
    <div id="container" class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div id="modalcontent" class="modal-content">
                   
                </div>
            </div>
        </div>

        <div class="row w-100">
            <h1 class="text-center font-weight-bolder title-text"> Paint Me <br> A Portrait! </h1>
        </div>

        

        <nav class="w-100 mt-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link mr-5 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Grayscale</a>
                <a class="nav-item nav-link ml-5" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Colored</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div id="img-container" class="img-container">
                    <div class="row">
                    {% for a in 'aaaaaaaaaaaaaaaaaaaaaaaa' %}
                        <div class="col-sm-3">
                            <img class="img-feature" src="/uploads/grayscale/{{ forloop.counter }}.png" onclick="openModal(1, {{ forloop.counter }})">
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="img-container" class="img-container">
                    <div class="row">
                    {% for a in 'aaaaaaaaaaaaaaaaaaaaaaaa' %}
                        <div class="col-sm-3">
                            <img class="img-feature" src="/uploads/colored/{{ forloop.counter }}.png" onclick="openModal(0, {{ forloop.counter }})">
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100">
            <a href="{% url 'mobi:index' %}" class="w-100 text-decoration-none">
                    <button id="generate_btn" type="button" class="btn btn-light button-class text-uppercase letter-spacing">
                            generate new </button>
            </a>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'portrait/js/scripts.js' %}"></script>

</body>

</html>